@use './variables.scss' as vars;
@use './mixins.scss' as mixins;
@forward './themes';

html {
  font-size: 16px;
}

.light-theme {
  color: vars.$color-black;

  .background {
    background-image: url('/images/bg-light-theme.png');
  }
}

.dark-theme {
  color: vars.$color-cyan-300;

  .background {
    background-image: url('/images/bg-dark-theme.png');
  }
}

.no-scale:hover {
  scale: 1 !important;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  padding: 1rem 2rem;
  text-align: center;
}

.btn {
  @include mixins.btn;
}

.btn-icon {
  @include mixins.btn-icon;
}

.link {
  @include mixins.link;
}
