@use './fonts.scss' as fonts;

@mixin text($fs: 1rem) {
  font-family: fonts.$first-family;
  font-size: $fs;
  font-weight: 400;
  line-height: 1;
}

@mixin btn($w: auto) {
  display: inline-flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  width: $w;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: fonts.$font-family;
  color: var(--main-color);
  background-color: var(--bg-color);
  outline: none;
  box-shadow: 0 0 8px 5px var(--bg-color);

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  @media (hover: hover) {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover:not(:disabled) {
      scale: 1.05;
      color: var(--main-color);
    }
  }

  @media (width <= 750px) {
    padding: 0.5rem 1rem;
  }
}

@mixin btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: none;
  color: var(--main-color);
  background-color: transparent;
  outline: none;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  @media (hover: hover) {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover:not(:disabled) {
      scale: 1.2;
      color: var(--second-color);
    }
  }
}

@mixin link() {
  display: inline-flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-family: fonts.$font-family;
  color: var(--second-color);
  background-color: transparent;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  @media (hover: hover) {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover:not(:disabled) {
      scale: 1.1;
    }
  }

  @media (width <= 750px) {
    padding: 0.5rem 1rem;
  }
}
